@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Raleway&display=swap');

/* Core Page Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Raleway, sans-serif;
  }

  html {
    background-color: #6A889C;
  }

/* Style main game board and background */

.game-board {
    width: 95%;
    max-width: 900px;
    height: 80vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url(../images/10-downing-street-bg-fleg-cartoom.png);
    background-size: cover;
    cursor: url("../images/cursor-protocol.png"), crosshair;
}

/* Style Score Counter and Timer */

.time-score-area {
    display: flex;
}

.score,
.time,
.miss {
    color: #ed4d29;
    background-color: rgba(106, 136, 156, 0.9);
    font-size: 5em;
}

.score {
    position: absolute;
    top: 20px;
    left: 20px;
}

.miss {
    position: absolute;
    top: 80px;
    left: 20px;
}

.time {
    position: absolute;
    top: 20px;
    right: 20px;
}
.hit {
    position: absolute;
    top: 20px;
    left: 5px;
}
.no-hit {
    position: absolute;
    top: 80px;
    left: 5px;
}

/* Style Start and Rules Buttons */

.instructions {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

button {
    cursor: pointer;
    padding: 10px 50px;
    outline: none;
}

/* Style mole hole area */

.hole-area {
    width: 800px;
    height: 400px;
    margin: 200px auto 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.mole-hole {
    flex: 1 0 33.33%;
    position: relative;
    overflow: hidden;
}

.mole-hole:after {
    content: '';
    display: block;
    background-image: url(../images/manhole.png);
    transform: scale(1.5);
    position: absolute;
    width: 100%;
    height: 50px;
    left: 35%;
    z-index: 2;
    bottom: 10px;
    background-size: contain;
    background-repeat: no-repeat;
}

/* Styling mole - mole hidden by default */

.boris {
    background-image: url(../images/boris-popup.png);
    position: absolute;
    top: 100%;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
    transition: 0.5s;
    background-size: 60%;
    z-index: 3;
}

.mole-hole.peek .boris {
    top: 0;
    transition: 0.5 ease-in-out;
}

/* Styling Rules and Feedback Pop Up - Hidden by default */

.rules,
.feedback,
.final-score {
    display: none;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 400ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #fff;
    width: 600px;
    height: 400px;
    z-index: 100;
}

.rules-title,
.feedback-title {
    display: flex;
    justify-content: space-evenly;
}

/* Styling star rating in feedback form */

.star-container {
    width: 400px;
    background-color: rgba(106, 136, 156, 0.9);
    padding: 20px 30px;
    border: 1px solid #ed4d29;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.star-container .star-rating input {
    display: none;
} 

.star-rating label {
    font-size: 40px;
    color: #444;
    padding: 10px;
    float: right;
}